h1 {
  color: white;
  padding: 3%;
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}
body {
  background-color: #c08060;
  font-family: 'Indie Flower', Verdana, sans-serif;
}
.big-header{
  font-size: 5rem;
}
.linkButton{
  font-size: 2rem;
}
.headerP{
  font-size: 1.5rem;
  font-family: 'Lato', Verdana, sans-serif;
}
.navbarSec {
  padding: 0;
  background-color: #160f0b;
  color: white;
  width: 100%;
  position: fixed;
  font-size: 2rem;
  z-index: 2;
}
.textSpot{
  padding: 10% 5%;
}
.linkButton{
  padding: 5%;
}
.topped {
  text-align: left;
  background-color: #96644b;
  padding: 40px 0;
  margin: 0;
  top: 60px;
  width: 100%;
  position:static;
}
.tianImg {
  width: 30%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}
.colored {
  background-color: #c08060;
  color: white;
  position: relative;
  padding: 0 7%;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.whited{
  background-color: white;
  color: #160f0b;
  padding: 0 7% 4%;
  text-align: center;
  z-index: 1;
}
.featureIMG{
  width: 50%;
  height: auto;
}
.favsHOne{
margin: 0;
padding: 30px;
font-size: 4rem;
}
.favsHThree {
font-size: 2rem;
}
.favToys{
    float: left;
    width: 5%;
    top: 0;
    z-index: 3;
}
.testimonialPic{
  width: 20%;
  display: inline-grid;
  margin: auto;
}
.testimonialText{
  font-size: 3rem;
}
.award{
  width: 40%;
  padding: 7%;
}
.awards{
border: 7px;
border-style: ridge;
border-radius: 15%;
}
.blacked {
  color: black;
}
.pricing-column{
  font-family: 'Lato', Verdana, sans-serif;
  padding: 5%;
}
.snippy{
  padding: 0;
  margin: 0;
}
.lights{
  width: 30%;
  text-align: center;
  top: 0;
}
.bottomed{
  background-color: white;
  z-index: 5;
  text-align: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.artRow {
    padding: 20% 0;
}
.art {
  width: 90%;
  padding: 30% 0;
}

/* Popup Immages */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Under Construction */
#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.stretch {
    width:100%;
    height:100%;
}
